@charset "utf-8";
@import "normalize";
@import "pure_grid";
@import "chocolat";

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 30px 25px;
}

img {
  max-width: 100%;
}

a {
  color: #000;
}

p {
  line-height: 1.75em;
}

#layout {
  max-width: 1124px;
  min-width: 900px;
  margin: auto;
}

.banner {
  margin-bottom: 50px;

  h1 {
    display: inline;
  }

  a {
    text-decoration: none;
  }
}

.sidebar {
  position: absolute;
  top: 177px;
  bottom: 0;
}

.nav {
  ul.nav-list {
    line-height: 30px;

    li.active {
      font-weight: bold;

      a {
        color: #e23e00;
      }
    }

    li {
      list-style: none;

      a {
        text-decoration: none;
      }
    }
  }
}

.description {
  max-width: 600px;
  padding-left: 10px;

  p {
    line-height: 1.5em;
  }
}

.posts {
  margin-left: 30%;

}

.collection-typography {
  p {
    color: #666;
    font-size: 12px;
  }

  h2 {
    padding-left: 10px;
  }
}
.post {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.pure-g {
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.front-page-image {
  width: 60%;
  display: block;
  position: relative;
  margin: auto;

  p {
    text-align: center;
    line-height: 0.5em;
    font-size: 12px;
    color: #666;
  }

  img {
    display: block;
    margin: auto;
  }
}

/* Desktop Settings */

@media (min-width: 48em) {
  .content {
    margin-left: 35%;
  }
}

