---
title: Susan Plover
---
<div class="posts">
  <div class="front-page-image">
    <%= image_tag "/images/falling_in_love.jpg" %>
      <p>Details -"Falling in Love" 21 x 21 cm</p>
      <p>Affair of The Arts Gallery - Los Angeles</p>
      <p>Landmark Art Building - New York</p>
      <p>The whole 9 Gallery Culver City-Los Angeles</p>
      <p><strong>2015-2016 Touring USA</strong></p>
  </div>
</div>



