---
title: Susan Plover
---
<div class="posts">
  <div class="front-page-image">
    <%= image_tag "/images/walking-the-dog.jpg" %>
    <p><strong>"Walking the Dog"</strong></p>
    <p>E book, Leeds University</p>
    <p>2019</p>
  </div>
</div>



