---
title: Susan Plover
---
<div class="posts">
  <div class="front-page-image">
    <%= image_tag "/images/label.jpg" %>
    <p><strong>"Label - King Of My Heart"</strong></p>
    <p>523 Gallery</p>
    <p>New York</p>
    <p>2018</p>
  </div>
</div>



